<img src="https://via.placeholder.com/350x150" class="section-sizer" />

<div class="rellax-{{num}} item-1" data-rellax-speed="-4" id="section-1_asset1">
	<img src="https://assets.codepen.io/80072/2103W2_LUXE_MSHOE_ST_LAURENT_ST03.png" />
</div>

<div class="rellax-{{num}} item-2" data-rellax-speed="2" id="section-1_asset2">
	<img src="https://assets.codepen.io/80072/2107W1_BLOOMIES_MICROSITE_OF5-168_transpt.png" />
</div>

<div class="rellax-{{num}}" data-rellax-speed="3" id="section-1_asset3">
	<img src="https://assets.codepen.io/80072/750x1000_Tailoring_10+copy.png" />
</div>

<div class="rellax-{{num}}" data-rellax-speed="8" id="section-1_asset4">
	<img src="https://assets.codepen.io/80072/Mask-Group-3.png" />
</div>

<div class="rellax-{{num}}" data-rellax-speed="-7" id="section-1_asset5">
	<img src="https://assets.codepen.io/80072/LM_SKU_5EXL01_63882_680x680_0.png" />
</div>

<div class="rellax-{{num}}" data-rellax-speed="3" id="section-1_asset6">
	<img src="https://assets.codepen.io/80072/sunglasses2.png" />
</div>

<div class="rellax-{{num}}" data-rellax-speed="5" id="section-1_asset7">
	<img src="https://assets.codepen.io/80072/FRESH+LOOKS.png" />
</div>